<div class="container" style="width: 100% !important; line-height: 1.6em;  font-size: 14px; background-color: #f6f6f6;padding-top: 20px;">
    <table style="background-color: #f6f6f6; width: 600px; margin: 0 auto !important;">
        <tbody>
            <tr>
                <td>
                    <br>
                </td>
                <td style="display: block !important; width: 600px !important; margin: 0 auto !important; clear: both !important;" class="templateColumns">
                    <div style="margin: 0 auto;display: block;">
                        <table style="background-color: #fff;" width="100%" cellpadding="0" cellspacing="0">
                            <tbody>

                                <tr>
                                    <td>
                                        <table width="100%" align="center" cellpadding="10" cellspacing="0" style="background-color: #51d2b6;">
                                            <tbody>
                                                <tr>
                                                    <td style="color: rgb(255, 255, 255); font-size: 16px; font-family: Helvetica, Arial, Sans Serif; border: none; background-color: #4caf50; padding: 20px; height: 28px;" class="header-row">
                                                        <div style="text-align: left;float: left; line-height: normal;padding: 0px 0 0 10px;display: inline-block; font-size: 24px;width: 100%;word-break: break-word;" class="sign-mail-header">
                                                            Digital Signature Request
                                                        </div>
                                                        <br>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 25px 40px 0px 40px;">
                                        <table width="100%" cellpadding="0" cellspacing="0" style="padding-bottom: 20px;">
                                            <tbody style="font-size: 14px; color: #444; line-height: 20px;">
                                                <tr>
                                                    <td style="padding: 0 0 20px; font-size:14px;" class="message-row">
                                                        <div class="sign-mail-message" style="word-wrap:break-word;width:100%; float:left;word-break: break-word;">
                                                            <span>
                                                                Dear $SIGN_NAME$,
                                                                <br />
                                                                <br />
                                                                $SENDER_NAME$ has requested you to review and sign $DOCUMENT_NAME$
                                                            </span>
                                                            <br>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table style="width: 100%;table-layout:fixed;">
                                                            <tbody>
                                                                <tr width="520px" style="height: 30px; line-height: 30px;font-size: 14px;">
                                                                    <td width="35%" style="font-weight:600">
                                                                        Sender
                                                                        <br>
                                                                    </td>
                                                                    <td style="width: 335px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                                                                        $SENDER_NAME$
                                                                        <br>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding: 0 0 20.0px;">
                                        <table width="100%">
                                            <tbody>
                                                <tr>
                                                    <td align="center" style="padding-top:15px">
                                                        <div>
                                                            <table>
                                                                <tbody>
                                                                    <tr>
                                                                        <td align="center" style="font-size: 15px; color: #ffffff; background-color: #4caf50; text-align: center; text-decoration: none;; border-radius: 2px; display: inline-block; min-height: 38px; " class="button-row">
                                                                            <a class="sign-mail-btn-link" href="$LINK_TO_SIGN$" style="font-size:18px;color:#ffffff;text-align:center;text-decoration:none;border-radius:3px;display:inline-block;padding:0px 30px;float: left;" target="_blank">
                                                                                <div style="line-height:38px;font-size:18px;" class="sign-mail-btn-text">
                                                                                    Start Signing
                                                                                    <br>
                                                                                </div>
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
                <td>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>
</div>
