
@{
    ViewBag.Title = "DocumentManagement";
    var currentUser = MMCV_Model.User.UserBO.Current.CurrentUser();
    var isAdmin = currentUser != null ? (currentUser.IsAdmin) ? "" : "d-none" : "d-none";
}
@section styles{
    <style>
        @@media screen and (max-width: 767px) {
            div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_paginate {
                text-align: right;
            }
        }

        .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
            color: black;
            background-color: #e9ecef;
            border-color: #dee2e6 #dee2e6 #fff;
        }

        .document-management a {
            /*color: #9a9a9a;*/
        }

        #docTab {
            line-height: 25px;
        }

        .dataTable > thead > tr > th[class*="sort"]:before,
        .dataTable > thead > tr > th[class*="sort"]:after {
            /*content: "" !important;*/
        }
    </style>
}

<div class="p-3 document-management">
    <ul class="nav nav-tabs" id="docTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="meSign-tab" onclick="getMeSignDocuments()" data-toggle="tab" href="#meSign" role="tab" aria-controls="meSign" aria-selected="true"><strong>Me Sign</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="sent-tab" onclick="getSentDocuments()" data-toggle="tab" href="#sent" role="tab" aria-controls="sent" aria-selected="false"><strong>Sent</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="draft-tab" onclick="getDraftDocuments()" data-toggle="tab" href="#draft" role="tab" aria-controls="draff" aria-selected="false"><strong>Draft</strong></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="cancel-tab" onclick="getCancelDocuments()" data-toggle="tab" href="#cancel" role="tab" aria-controls="cancel" aria-selected="false"><strong>Cancel</strong></a>
        </li>
    </ul>
    <div class="tab-content pt-2" id="tabDoc">
        <div class="tab-pane fade show active" id="meSign" role="tabpanel" aria-labelledby="meSign-tab">
            <div class="card">
                <div class="card-body p-0 pt-2 pb-2">
                    <table id="meSignDocumentDT" class="table table-bordered table-striped table-hover dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ReferenceCode</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>Your Sign Status</th>
                                <th>CreatedDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="sent" role="tabpanel" aria-labelledby="sent-tab">
            <div class="card">
                <div class="card-body p-0 pt-2 pb-2">
                    <table id="sentDocumentDT" class="table table-bordered table-striped table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ReferenceCode</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>CreatedDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="draft" role="tabpanel" aria-labelledby="draft-tab">
            <div class="card">
                <div class="card-body p-0 pt-2 pb-2">
                    <table id="draftDocumentDT" class="table table-bordered table-striped table-hover dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ReferenceCode</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>CreatedDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="cancel" role="tabpanel" aria-labelledby="cancel-tab">
            <div class="card">
                <div class="card-body p-0 pt-2 pb-2">
                    <table id="cancelDocumentDT" class="table table-bordered table-striped table-hover dataTable" style="width:100%">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>ReferenceCode</th>
                                <th>Title</th>
                                <th>Status</th>
                                <th>CreatedDate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="modal" id="quickViewModal" tabindex="-1">
    <div class="modal-80">
        <div class="modal-content">
            @*<div class="modal-header">
                    <h4 class="modal-title">Quick view document</h4>
                    <button type="button" class="text-danger close" data-dismiss="modal">&times;</button>
                </div>*@
            <div class="modal-header">
                <i class="fa fa-eye-dropper modal-header-icon"></i>
                <h3 class="modal-title" style="font-size: 1.3rem">
                    &nbsp;&nbsp;QUICK VIEW DOCUMENT
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body pt-0">
                <iframe src="" width="100%" height="600" id="qvFrame" title="">
                </iframe>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script src="~/Scripts/ESign/DocumentManagement/documentManagement.js"></script>
}
@Html.Partial("~/Views/PartialView/ModalAddDocument.cshtml")