@{
    ViewBag.Title = "Tag Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <style>
        .modal-header-icon {
            margin-top: 5px;
            font-size: 20px;
            color: #33b837;
        }

        .container-fluid {
            width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>
}

<div class="p-3">
    <div class="card card-stats card-round mb-0">
        <div class="pt-3 pb-2">
            <div class="pl-3">
                <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#addTagModal"><i class="fa fa-tags"></i>&nbsp; Add Tag</button>
                @*<button class="btn btn-o btn-sm"><i class="fa fa-file-excel"></i>&nbsp; Export to excel</button>*@
            </div>
            <div class="p-3">
                <table id="tagDT" class="table table-bordered table-striped table-hover" style="width:100%">
                    <thead class="">
                        <tr>
                            <td><strong>No</strong></td>
                            <td><strong>Name</strong></td>
                            <td><strong>Order</strong></td>
                            <td><strong>Active</strong></td>
                            <td></td>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTagModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus modal-header-icon"></i>
                <h3 class="modal-title" style="font-size: 1.3rem">
                    &nbsp;&nbsp;FORM ADD TAG
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="" style="background-color: #28a745; height: 2px"></div>
            <div class="modal-body">
                <div>
                    <div class="col-md-12 col-sm-12 p-0 mb-2">
                        <strong>Tag Name <span class="text-danger">*</span></strong>
                        <input type="text" class="form-control" id="txtATagName" autocomplete="off" autofocus />
                    </div>
                    <div class="col-md-12 col-sm-12 p-0 mb-2">
                        <strong>Order</strong>
                        <input type="number" class="form-control" min="0" id="txtATagOrder" />
                    </div>
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input ckbAActive" name="ckbAActive" id="ckbAActive">
                            <label class="custom-control-label" for="ckbAActive">Is Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="addTag()">Submit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editTagModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fa fa-plus modal-header-icon"></i>
                <h3 class="modal-title" style="font-size: 1.3rem">
                    &nbsp;&nbsp;FORM EDIT TAG
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="" style="background-color: #28a745; height: 2px"></div>
            <div class="modal-body">
                <div>
                    <input type="hidden" class="form-control" id="txtUTagId" autocomplete="off" autofocus />
                    <div class="col-md-12 col-sm-12 p-0 mb-2">
                        <strong>Tag Name <span class="text-danger">*</span></strong>
                        <input type="text" class="form-control" id="txtUTagName" autocomplete="off" autofocus />
                    </div>
                    <div class="col-md-12 col-sm-12 p-0 mb-2">
                        <strong>Order</strong>
                        <input type="number" class="form-control" min="0" id="txtUTagOrder" />
                    </div>
                    <div>
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input ckbUActive" name="ckbUActive" id="ckbUActive">
                            <label class="custom-control-label" for="ckbUActive">Is Active</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="updateTag()">Submit</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>

        /*
         * Variables
         * */
        var baseUrl = "/Tag/";

        /*
         * Methods
         */

        $(document).ready(function (e) {
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });

            getTags();
        })

        function getTags() {
            let action = baseUrl + 'GetTags';
            LoadingShow();
            GetDataAjax(action, function (response) {
                LoadingHide();
                if (response.rs) {
                    let data = response.data;
                    setTimeout(() => {
                        bindTagDataTable(data);
                    });
                }
                else {
                    toastr.error(response.msg, "Warning");
                }
            });
        }

        function bindTagDataTable(data) {
            $("#tagDT").DataTable({
                "destroy": true,
                "lengthChange": false,
                "pageLength": 10,
                "data": data,
                "columns": [
                    { "data": "TagID", "autoWidth": false },
                    { "data": "TagName", "autoWidth": false },
                    { "data": "Order", "autoWidth": false },
                    {
                        data: 'Active',
                        render: function (data, type, row) {
                            return formatActiveStatus(data);
                        },
                    },
                    {
                        data: null,
                        render: function (data, type, row) {
                            let html = `
                                                    <a href='javascript:void(0)' onclick='openEdit(${row.TagID})' class='btn btn-light btn-sm'><i class='fa fa-edit text-primary'></i>&nbsp; Detail</a>
                                                `;
                            return html;
                        },
                    },
                ],
                "columnDefs": [
                    { "className": "text-center", "targets": "_all" }, //{ "className": "text-center", "targets": [0,1,2,3,4] },
                ],
                "language": {
                    "info": "Show _START_ - _END_ / _TOTAL_",
                    "paginate": {
                        'previous': '<span class="la flaticon-left-arrow"></span>',
                        'next': '<span class="la flaticon-right-arrow"></span>'
                    },
                },
                "scrollY": "530px",
                scrollX: true,
                scrollCollapse: true,
                //fixedColumns: {
                //    right: 1
                //}
            });
        }

        function addTag() {
            let txtTagName = $("#txtATagName");
            let txtTagOrder = $("#txtATagOrder");
            let active = $("#ckbAActive").prop("checked");

            if (!CheckNullOrEmpty(txtTagName, "Tag name can not be empty or null"))
                return false;

            let action = baseUrl + 'AddTag';
            let datasend = {
                TagName: txtTagName.val(),
                Order: txtTagOrder.val(),
                Active: active == true ? 1 : 0
            };
            LoadingShow();
            PostDataAjax(action, datasend, function (response) {
                LoadingHide();
                if (response.rs) {
                    toastr.success(response.msg, "Success");
                    $("#addTagModal").modal("hide");
                    getTags();
                }
                else {
                    toastr.error(response.msg, "Warning");
                }
            });
        }

        function openEdit(id) {
            // call server to get detail info
            let action = baseUrl + 'GetTagById';
            let datasend = {
                id: id
            };
            LoadingShow();
            PostDataAjax(action, datasend, function (response) {
                LoadingHide();
                if (response.rs) {
                    $("#editTagModal").modal("show");
                    let tag = response.data;
                    $("#txtUTagId").val(tag.TagID);
                    $("#txtUTagName").val(tag.TagName);
                    $("#txtUTagOrder").val(tag.Order);

                    if (tag.Active == 1) {
                        $("#ckbUActive").prop("checked", true);
                    }
                    else {
                        $("#ckbUActive").prop("checked", false);
                    }
                }
                else {
                    toastr.error(response.msg, "Warning");
                }
            });
        }

        function updateTag() {
            let txtTagId = $("#txtUTagId");
            let txtTagName = $("#txtUTagName");
            let txtTagOrder = $("#txtUTagOrder");
            let active = $("#ckbUActive").prop("checked");

            if (!CheckNullOrEmpty(txtTagName, "Document type name can not be empty or null"))
                return false;

            let action = baseUrl + 'UpdateTag';
            let datasend = {
                TagID: txtTagId.val(),
                TagName: txtTagName.val(),
                Order: txtTagOrder.val(),
                Active: active == true ? 1 : 0
            };
            LoadingShow();
            PostDataAjax(action, datasend, function (response) {
                LoadingHide();
                if (response.rs) {
                    toastr.success(response.msg, "Success");
                    $("#editTagModal").modal("hide");
                    getTags();
                }
                else {
                    toastr.error(response.msg, "Warning");
                }
            });
        }

        function formatActiveStatus(data) {
            let format = "";
            let unactive = "<span class='badge badge-danger'>UnActive</span>";
            let active = "<span class='badge badge-success'>Active</span>";
            format = data == 0 ? unactive : active;

            return format;
        }

    </script>
}


